.add-item-form{
    align-self: center;
    justify-self: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    input{
        margin: 1rem;
        margin-top: 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        width:100%;
        text-align: center;
        padding: 0.5rem;
    }
}
.error-message{
    width: 100%;
    color: red;
    font-size: 0.8rem;
    position: absolute;
    bottom: 25px;
}